@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 20px;
	overflow-x: hidden;
}

/* Header */
.header {
	width: 100%;
	position: absolute;
	z-index: 1000;
}

.header__container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
	font-size: 50px;
	font-weight: 800;
}

.header__nav {
	font-size: 22px;
	font-weight: 600;
}

.header__nav li {
	list-style-type: none;
}

.header__nav-link {
	text-decoration: none;
    color: #6b6b6b;
    margin: 20px 0;
    transition: color .1s linear;
}

.header__nav-link:hover {
	color: #828282;
}