@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 20px;
	overflow-x: hidden;
}

/* Container */
.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
}
/* Header */
.header {
	width: 100%;
	position: absolute;
	z-index: 1000;
}

.header__container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
	font-size: 50px;
	font-weight: 800;
	color: #e36a14;
}

.header__nav {
	font-size: 18px;
	font-weight: 600;
	display: inline-flex;
}

.header__nav li {
	list-style-type: none;
}

.header__nav-link {
	text-decoration: none;
	font-size: 18px;
	display: inline-flex;
    color: #6b6b6b;
    margin: 0 20px;
    transition: color .1s linear;
}

.header__nav-link:hover {
	color: #363636;
}

.about {
	margin: 200px 0;
	color: #111;
	position: absolute;

}

.footer {
	width: 100%;
	position: absolute;
	z-index: 1000;
}

.footer__link {
	display: inline-flex;
    color: #000;
    text-decoration: none;
}

.footer__link:hover {
	text-decoration: underline;
}

